
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
      background-color:#181818;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 4vw 0 5vw;
      height:9vh;  
      position: fixed;
      width: 100%;  
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.header-left img{
    height: 1.4rem;
}
.header-left{
    display: flex;
    gap:25px;
}
.header-left a img:hover{
opacity: 0.7;
}
nav{
    display: flex;
    gap:20px;
    font-size: small;
    font-weight: 500;
    margin-top: 5px;
    color: #FCFBF8;
}
.header-left  nav a{
    text-decoration: none;
    color: #FCFBF8;
    
}
nav p:hover{
    color:#d7d7d5;
    cursor: pointer;
}
nav a:hover{
    color:#d7d7d5;
}
.login-btn{
  background-color: #181818;
  color: #FCFBF8;
  border: 1px solid #9b9a96;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}
.login-btn:hover{
   background-color:#55544f;
}
.b2{
    background-color: #FCFBF8;
    color:#181818;
    padding: 6px 12px;
    border: 1px solid #bab7ab;
    margin-left: 2px;
    border-radius: 4px;
    cursor: pointer;
}
.b2:hover{
    background-color: #d1d0cc;
}

.resources-option{
    position:absolute;
    background-color:#181818;
    top:8vh;
    display: none;
    flex-direction: column;
    gap:8px;
    padding:16px;
    width: 200px;
    border-radius: 10px;
    height: 60px;
}

.resource-container{
    position: relative;
}

.resource-container p:hover + .resources-option{
    display: block;
}
/*   hero section */
.hero-sec1{
    height: 50rem;
   background: #b315ab;
background: radial-gradient(circle, rgb(129, 52, 125) 7%, rgba(27, 106, 158, 1) 54%, rgba(255, 0, 251, 1) 100%);  
}
.s1 p{
 display: flex;
padding: 4px 8px;
 background-color: blue;
}