
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

header{
      background-color:#181818;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 4vw 0 5vw;
      height:9vh;  
      position: fixed;
      width: 100%;  
      z-index: 9999;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.header-left img{
    height: 1.3rem;
}
.header-left{
    display: flex;
    gap:25px;
}
.header-left a img:hover{
opacity: 0.7;
}
nav{
    display: flex;
    gap:20px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 5px;
    color: #FCFBF8;
}
.header-left  nav a{
    text-decoration: none;
    color: #FCFBF8;
    
}
nav p:hover{
    color:#d7d7d5;
    cursor: pointer;
}
nav a:hover{
    color:#d7d7d5;
}
.login-btn{
  background-color: #181818;
  color: #FCFBF8;
  border: 1px solid #9b9a96;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}
.login-btn:hover{
   background-color:#55544f;
}
.b2{
    background-color: #FCFBF8;
    color:#181818;
    padding: 6px 12px;
    border: 1px solid #bab7ab;
    margin-left: 2px;
    border-radius: 4px;
    cursor: pointer;
}
.b2:hover{
    background-color: #d1d0cc;
}
.option-one{
   background-color: #181818;
   position: absolute;
   top:6vh;
   display: none;
   flex-direction: column;
   gap: 12px;
   padding:16px;
   width:400px;
   border-radius: 10px;
   height: 205px;
}
.solution-one{
    position: relative;
}
.solution-one p:hover + .option-one{
    display: flex;
    flex-direction: column;
}
.solution-one p i{
  transition:rotate 150ms ease-in-out;
}
.solution-one p:hover i{
    rotate: 180deg;
}
.resources-option{
    position:absolute;
    background-color:#181818;
    top:6vh;
    display: none;
    flex-direction: column;
    gap:12px;
    padding:16px;
    width: 200px;
    border-radius: 10px;
    height: 100px;
}

.resource-container{
    position: relative;
}

.resource-container p:hover + .resources-option{
    display: flex;
    flex-direction: column;
}
.resource-container p i{
    transition:rotate 150ms ease-in-out;
}
.resource-container p:hover i{
    rotate: 180deg;
}
.resources-option a:hover{
   color:#d1d0cc;
}

/*   hero section */

main{
  background-color: #1c1c1c;
  position: relative;
  z-index: 999;
  height: 100vh;
  overflow: hidden;
}
main img {
  width: 100%;
  position: absolute;
  z-index: -999;
  top: 0;
  scale: 2;
}

.main-content{
   padding:30vh;
   text-align: center;
}

.main-content h1{
    color: #FCFBF8;
    font-size:42px;
    margin-bottom:16px;
    margin-top: 26px;
}

.main-content p{
   color:#fcfbf8a6;
   font-weight: bold;
   font-size: 18px;
}

.main-content a{
  font-size: 13px;
  padding: 12px;
  border-radius: 90px;
  color:#FCFBF8;
  transition: all 0.3s ease-in-out;
}

.main-content a:hover{
background-color: #272727;
}

.main-content i{
    transition: all 0.3s ease-in-out;
}

.main-content a:hover i{
    translate: 4px;
}

.main-content a span:first-child{
    background-color: #3b82f6;
    padding:4px 6px;
    border-radius: 40px;
}

.input-container{
  background-color: #272727;
  width: 56vh;
  height: 24vh;
  border-radius: 24px;
  padding:16px;
  display: flex;
  flex-direction:column;
}


